﻿@using TestApp.Models
@using System.Configuration

@model TestApp.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
    var imageUrl = ConfigurationManager.AppSettings["ImageURL"];
}

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => Model.SelectedCategory.Name, htmlAttributes: new { @class = "control-label" })
    </p>
    <p>
        @Html.DropDownListFor(model => Model.SelectedCategory.Name, new SelectList(Model.Categories, "Value", "Text"),
            htmlAttributes: new { @class = "form-control", id = "Category" })
        @Html.HiddenFor(m => m.SelectedCategory.Name, htmlAttributes: new { id = "SelectedCategory" })
    </p> 
    <p id="ImageList">

    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#Category").change(function () {
            $("#SelectedCategory").val(this.options[this.selectedIndex].text);
            var category = this.options[this.selectedIndex].text;
            var picData = loadPictures(category);
            console.log(picData);
        });

        //loads images for the category
        function loadPictures(categoryName) {
            if (categoryName === "") {
                updateImageList();
                return;
            }

            var url = "/Home/GetCategoryImages";
            $.ajax({
                url: url,
                type: "get", 
                data: {                    
                    categoryName: categoryName                    
                },
                success: function (response) {
                    updateImageList(response);
                },
                error: function (xhr) {
                    console.log('Error response: ');
                    console.log(xhr);
                }
            });
        }

        //updates the list of images
        function updateImageList(imageArray) {
            console.log(imageArray);
            var element = document.getElementById("ImageList");
            if (element === undefined) {
                return;
            }        
            console.log(imageArray);
            var htmlText = "";
            if (imageArray === null || imageArray === undefined || imageArray.length == 0) {
                // array empty or does not exist
                element.innerHTML = "";
                return;
            }

            var imgStr = '<img src="{url}" alt="{name}"><br/>';

            for (var el in imageArray) {
                htmlText += imgStr.replace("{url}", imageArray[el].URL).replace("{name}", imageArray[el].ID);
            }            

            // Write out html 
            element.innerHTML = htmlText;

        }

    </script>
}
